<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>McMinn Clinic</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/mcminn.css">
  <script src="https://kit.fontawesome.com/54f80597fc.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="wrapper">
    <header class="page-header">
      <nav>
        <h2 class="logo">McMinn Clinic</h2>
        <nav class="cl-effect-3">
            <a href="/about">About</a>
            <a href="/events.ejs">Events</a>
            <a href="/currentpt.ejs">Current Patients</a>
            <a href="/newpt.ejs">New Patients</a>
        </nav>
        <button class="cta-contact">Contact Us</button>
      </nav>
    </header>
    <main class="page-main">
