<%- include ('partials/header.ejs') %>

<main class="page-main">
  <div class="container-fluid">
    <div class="row">
      <div class="jumbotron col-12 col-md-8">
        <h1 class="display-4">About Us</h1>
        <p class="lead">As Birmingham's leading functional and integrative medicine provider, Dr. McMinn and his team want to help you get to the root cause of disease to optimize wellness in your life.</p>
        <hr class="my-4">
            <p>Our approach to care at McMinn Clinic starts with advanced prevention.  We don’t want to let you get disease, and then treat it with more drugs. We want to help you stay healthy, and not get disease to start with. We also want to uncover any weak links that you might have, so that we can strengthen these weaknesses and prevent problems down the road.</p>
            <p>The next step is to look a the underlying root cause when problems to come up.  We always ask the question “why.”  For instance if the patient has a rash, we don’t just give some rash cream, or put the patient on steroids, we explore  the question- why did the patient get the rash. We often find that it has to do with issues like gut health.</p>
            <p>We have worked hard over the years to expand our toolbox of therapies.  In our medical therapeutic toolbox we have the same tools other doctors have such as medications.  However, we also have nutrition, herbs, hormones, mind-body treatment, detoxification and many other therapies.</p> 
            <p>We are committed to “optimization.”  Many of our patients don’t have a disease to treat. They just don’t feel like they are at their best. We look at all of the foundations of wellness and our goal is to help each patient be the best he or she can be in mind, body, and spirit.</p>  
            <p>Finally, the whole process is built on a foundation of “loving kindness.” We hope that you can feel it when you walk in the door at McMinn Clinic.  We are your friends in health care.</p> 
            <p>We look forward to being your partner in wellness.</p>
      </div>
      <div class="col-md-4">
        <img src="/images/drmac.jpg" class="rounded mx-auto d-block" alt="#">
      </div>
    </div>
  </div>
</main>


<%- include ('partials/footer') %>


