<%- include ('partials/header.ejs') %>

<main class="page-main">

<div class="container-fluid">
    <div class="head">
        <h1 class="display-4">Our Affiliates</h1>
    </div>
    <hr class="my-4">
    <p>At McMinn Clinic we are passionate about getting to the Root Cause of disease. One of the ways you can start healing yourself is to start removing toxins from your daily life. An easy way to start is to make sure that the water you drink is safe and clean. The Berkey Water System removes sediment , viruses, bacteria, fluoride, chlorine, heavy metals, pesticides and more. They come in multiple sizes and look great on the kitchen counter. The best part is you can stop buying plastic water bottles and just utilize your own tap water.</p>  
    <p>Another way you can heal yourself is to stop putting toxic chemicals “on” your body, via lotions, soaps and makeup. Your body deserves the cleanest products you can find.  McMinn Clinic has teamed up with Beauty Counter – a company that stands by their “Never List” and prohibits the use of over 1,500 harmful or questionable products.  Only YOU can make the decision to live a toxic free life – we are just hoping to help you on the journey.</p> 
    <p>Call the office and ask for Amy if you have any questions about Berkey Filters or Beauty Counter.<br>The pictures below will take you to the respective websites.</p>
    <div>
        <a href="http://www.berkeyfilters.com/?a_aid=5898a8a907416&a_bid=e7551adf" target="_blank">
            <img src="/images/berkey.jpg" class="rounded float-left" alt="Berkey Website" style="width: 48%;">
        </a>
        <a href="http://beautycounter.com/jamesmcminn" target="_blank">
            <img src="/images/beautycounter.jpg" class="rounded float-right" alt="Beauty Counter Website" style="width: 48%;">

        </a>
    </div>
</div>

</main>

  


<%- include ('partials/footer') %>