<%- include ('partials/header.ejs') %>

<main class="page-main">

    <div class="container">
        <div class="head">
            <h1 class="display-4">Conditions Treated</h1>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-sm">
                <div class="jumbotron">
                    <p>Health Optimization</p>
                    <p>Fatigue</p>
                    <p>Fibromyalgia</p> 
                    <p>Hypothyroid (thyroid optimization)</p>
                    <p>Gut Health</p>
                        <ul id="gutHealth">
                            <li>Crohn’s</li>
                            <li>Ulcerative colitis</li>
                            <li>IBS</li>
                            <li>Diarrhea</li>
                            <li>Constipation</li>
                            <li>Gas</li>
                            <li>Bloating, etc</li>
                        </ul>
                    <p>Autoimmune Disease</p>
                    <p>Dysautonomia</p>
                    <p>Generalized Chronic Illness</p>
                    <p>Feelings of Poor Health</p>  
                    <p>Heavy Metal Toxicity - testing and treatment</p>
                    <p>Mold</p>
                    <p>Inflammation</p>
                    <p>Yeast Overgrowth Syndrome - microbiome</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="jumbotron">
                    <p>Women’s Health</p>
                        <ul id="womensHealth">
                            <li>Hormone Replacement Therapy</li>
                            <li>Menopause</li>
                            <li>Vaginal health</li>
                                <ul id="vaginalHealth">
                                    <li>Dryness</li>
                                    <li>Atrophy</li>
                                    <li>Pain with Intercourse</li>
                                </ul>
                            <li>Fibrocystic Breast Disease</li>
                            <li>Breast health</li>
                            <li>Breast Cancer Prevention</li>
                            <li>Osteoporosis</li>
                            <li>Hair Loss</li>
                            <li>PMS</li>
                            <li>PCOS</li>
                            <li>Infertility</li>
                            <li>Preconception Care (Healthy Baby Program)</li>
                        </ul>
                    <p>Sexual Health/ Low Libido for women and men</p>
                    <p>Stress Management</p>
                    <p>Adrenal Fatigue</p>
                    <p>Low Mood/Depression</p>
                    <p>Metabolic Syndrome</p>
                    <p>Insulin Resistance/Pre-Diabetes</p>
                </div>
            </div>
        </div>
    </div>
</main>

  


<%- include ('partials/footer') %>