<%- include ('partials/header.ejs') %>

<h1 id="contact-h1">How to Contact Us</h1>

<div class="container-fluid">
    <div class="row">
        <div class="card col-12 col-md-6">
            <div class="card-header">
              Contact Us
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Phone: (205) 868-1313</li>
              <li class="list-group-item">Fax: (205) 868-1314</li>
              <li class="list-group-item">Email: info@mcminnclinic.com</li>
            </ul>
          </div>
          <div class="card col-12 col-md-6">
              <div class="card-header">
                  Hours (By Appointment Only)
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">M-Thu 8:30-5:00</li>
                  <li class="list-group-item">Fri 8:30-4:00</li>
                  <li class="list-group-item">
                    <p>Address: 3125 Independence Dr. Ste 108</p>
                    <p>Homewood, AL 35209</p>
                  </li>
              </ul>
          </div>
    </div>
</div>






<%- include ('partials/footer.ejs') %>