<%- include ('partials/header.ejs') %>

<main class="page-main">
  <h1 id="contact-h1">How to Contact Us</h1>

  <div class="container-fluid" id="contact-main">
      <div class="row">
          <div class="card col-12 col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Contact Us</strong></li>
                <li class="list-group-item">Phone: (205) 868-1313</li>
                <li class="list-group-item">Fax: (205) 868-1314</li>
                <li class="list-group-item">Email: info@mcminnclinic.com</li>
              </ul>
            </div>
            <div class="card col-12 col-md-6">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><strong>Hours (By Appointment Only)</strong></li>
                  <li class="list-group-item">M-Thu 8:30-5:00</li>
                  <li class="list-group-item">Fri 8:30-4:00</li>
                  <li class="list-group-item">
                    <p>2700 Rogers Dr Ste 201</p>
                    <p>Homewood, AL 35209</p>
                  </li>
                </ul>
            </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="/images/newbuilding.jpg" class="float-left" alt="photo of new building" style="width: 100%;">
        </div>
        <div class="col-md-6 float-right">
            <iframe src="https://embed.waze.com/iframe?zoom=16&lat=33.482262&lon=-86.786445&ct=livemap&pin=1" width="100%" height="430" allowfullscreen></iframe>
            <a href="https://www.waze.com/ul?ll=33.48226150%2C-86.78644510&navigate=yes" style="position:absolute; top:0; left:0; display:inline-block; width:100%; height: 430px; z-index:5;" target="_top"></a>
            <a href="https://goo.gl/maps/A8LqG9dZz3xgXmgU8">Google Maps Link</a>
        </div>
      </div>
  </div>
</main>



<%- include ('partials/footer.ejs') %>