<%- include ('partials/header.ejs') %>

<main class="page-main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="display-4">Current Patient Information</h1>
        <p class="lead">Dr. McMinn and his team want to thank you for your patience and understanding during our transition into the next phase of McMinn Clinic.</p>
        <hr class="my-4">
            <p>If you are a current McMinn Clinic patient and would like to be a part of our new practice, please contact our front office to get started! We are at 205-868-1313.</p>
            <p>After we get your portal set up, you will have access to all of your records, labs, and appointment notes through the Charm EHR portal link on this page.</p>
            <p>You can request appointments through your portal, but you will still need labwork prior to your visit for regular follow-ups.</p>
            <p>If you are scheduling pellets or have a separate appointment to discuss, please call the office before entering an appointment time.</p>
      </div>
      <div class="card col-lg-4" style="height: 16rem;">
        <div class="card-body">
          <h5 class="card-title">Charm EHR</h5>
          <h6 class="card-subtitle mb-2 text-muted">Your Patient Portal</h6>
          <p class="card-text">You can follow the link below to sign in to your portal if you are signed up through our front office.</p>
          <div  style="float:left; margin:0;"> <a href="https://phr.charmtracker.com/login.sas?FACILITY_ID=26be8a8be0b38c0d84d24f06183719a5ec9182d4dbabec212e62fe42203ae47d7c54d4b9c6616d57" target="_blank" class="btn btn-small btn-success float-right" style="  text-decoration:none;background-color: #5BB75B;
            background: #62c462; /* Old browsers */
         /* IE9 SVG, needs conditional override of 'filter' to 'none' */
         
         background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYyYzQ2MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MWEzNTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
         
         background: -moz-linear-gradient(top,  #62c462 0%, #51a351 100%); /* FF3.6+ */
         
         background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#62c462), color-stop(100%,#51a351)); /* Chrome,Safari4+ */
         
         background: -webkit-linear-gradient(top,  #62c462 0%,#51a351 100%); /* Chrome10+,Safari5.1+ */
         
         background: -o-linear-gradient(top,  #62c462 0%,#51a351 100%); /* Opera 11.10+ */
         
         background: -ms-linear-gradient(top,  #62c462 0%,#51a351 100%); /* IE10+ */
         
         background: linear-gradient(to bottom,  #62c462 0%,#51a351 100%); /* W3C */
         
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62c462', endColorstr='#51a351',GradientType=0 ); /* IE6-8 */
         
         
             border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
             color: #FFFFFF;
             text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
             font-size:11px; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
             padding: 5px 6px; border-radius: 4px 4px 4px 4px; border:#448944 solid 1px; cursor:pointer">Patient Portal</a> </div> 
        </div>
      </div>
      <div class="card col-lg-4" style="height: 16rem;">
        <div class="card-body">
          <h5 class="card-title">Patient Payment Plan</h5>
          <h6 class="card-subtitle mb-2 text-muted">We have set up our payment system through PayPal</h6>
          <p class="card-text">Click on this button in order to be linked to PayPal</p>

          <div id="paypal-button-container"></div>
            <script src="https://www.paypal.com/sdk/js?client-id=AYIKX_jqamsBTXJEPznm1TZapOfibbGpdIlMhvlorAA8Jcz4Z98W9KtkLelykgiqPQpvbWl5PYNErjUs&vault=true" data-sdk-integration-source="button-factory"></script>
            <script>
              paypal.Buttons({
                style: {
                shape: 'pill',
                color: 'blue',
                layout: 'vertical',
                label: 'paypal',
                },
                createSubscription: function(data, actions) {
                  return actions.subscription.create({
                  'plan_id': 'P-3K540166KH7907446LZL64ZY'
                  });
                },
                onApprove: function(data, actions) {
                  alert(data.subscriptionID);
                }
              }).render('#paypal-button-container');
            </script>
        </div>
      </div>
    </div>
  </div>
</main>

  


<%- include ('partials/footer') %>