<%- include ('partials/header.ejs') %>

<main class="page-main">

<div class="container-fluid">
    <div class="head">
        <h1 class="display-4">Frequently Asked Questions</h1>
    </div>
    <hr class="my-4">
    <h3>What are your hours of operation?</h3>
        <p>McMinn Clinic is open from 8:30am-5:00pm, Monday, Tuesday, Thursday and 8:30am – 1:00pm on Wednesday and Friday.</p>
    <h3>May I drop by the clinic during the day to get supplements?</h3>
        <p>Yes, you may.  Stop by during  business hours and any McMinn Clinic staff member can help you.</p>
    <h3>Where can I get my labs done?</h3>
        <p>You can feel free to use any lab that you like. We recommend checking with your insurance provider to see if they have a preference. We will get you a lab order via email, and you can take it to any lab in your area.</p>
    <h3>Do you accept insurance?</h3>
        <p>McMinn Clinic does not file insurance of any kind. We are happy to supply you with the proper forms so you can attempt to file on your own. Dr. McMinn has opted out of the Medicare network. Medicare patients cannot file for reimbursement for any services completed at McMinn Clinic.</p>
    <h3>Why is Dr. McMinn an out of network provider?</h3>
        <p>Dr. McMinn has chosen to dictate the amount of time he is allowed to spend with each patient. His decision is based on the patient’s need rather than on the amount of time “allowed” by insurance.</p>
    <h3>How long does each visit take?</h3>
        <p>Each visit is based on the reason and need for the visit. Typically, Dr. McMinn devotes at least one full hour to each initial visit and each first time follow-up appointment. Dr. McMinn does not double-book appointments so your hour is your hour!  Please respect this commitment to you and be on time for your appointment. Please call at least 24 hours in advance if you must reschedule your appointment to ensure you are not charged a missed appointment fee.</p>
    <h3>Does your office charge for Prior Authorizations for prescriptions?</h3>
        <p>Yes we have a $30 prior authorization fee for required prescriptions. We do not have an insurance department and it may take a few days to submit the prior authorization.</p>
</div>

</main>

  


<%- include ('partials/footer') %>