<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>McMinn Clinic</title>
  <link rel="stylesheet" href="/stylesheets/mcminn.css">
  <script src="https://kit.fontawesome.com/54f80597fc.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="wrapper">
    <header class="page-header">
      <nav>
        <h2 class="logo">McMinn Clinic</h2>
        <nav class="cl-effect-3">
            <a href="/about.ejs">About</a>
            <a href="/events.ejs">Events</a>
            <a href="/currentpt.ejs">Current Patients</a>
            <a href="/newpt.ejs">New Patients</a>
        </nav>
        <button class="cta-contact">Contact Us</button>
      </nav>
    </header>

    <main class="page-main">
      <div>
        <div class="text-wrapper">
          <h1>McMinn Clinic</h1>
        </div>
        <div class="text-wrapper p-wrapper">
          <p>We are passionate about getting to the root cause of disease by focusing on advanced prevention and optimization.</p> 
        </div>
        <div class="text-wrapper p-wrapper">
          <p>Let's work together... to find what works for you.</p>
        </div>
      </div>
    </main>

    <footer class="page-footer">
      <small>© Copyright 2020. All rights reserved.</small>
      <ul>
        <li>
          <a href="https://www.facebook.com/mcminnclinicbham/">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="http://www.instagram.com/mcminnclinicbham" >
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </footer>
  </div>
  <script>
    window.addEventListener("load", () => {
    document.querySelector("body").classList.add("loaded"); 
});
  </script>
</body>
</html>