<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>McMinn Clinic</title>
  <link rel="stylesheet" href="/stylesheets/mcminn.css">
</head>
<body>
  <div class="wrapper">
    <header class="page-header">
      <nav>
        <h2 class="logo">McMinn Clinic</h2>
        <ul>
          <li>
            <a href="">About Us</a>
          </li>
          <li>
            <a href="">Upcoming Events</a>
          </li>
          <li>
            <a href="">Current Patients</a>
          </li>
          <li>
            <a href="">New Patients</a>
          </li>
        </ul>
        <button class="cta-contact">Contact Us</button>
      </nav>
    </header>

    <main class="page-main">
      <div>
        <div class="text-wrapper">
          <h1>McMinn Clinic</h1>
        </div>
        <div class="text-wrapper p-wrapper">
          <p>We are passionate about getting to the root cause of disease by focusing on advanced prevention and optimization.</p> 
        </div>
        <div class="text-wrapper p-wrapper">
          <p>Let's work together... to find what works for you.</p>
        </div>
      </div>
    </main>

    <footer class="page-footer">
      <small>© Copyright 2020. All rights reserved.</small>
      <ul>
        <li>
          <a href="" target="_blank">
            <i class="icon ion-logo-facebook"></i>
          </a>
        </li>
        <li>
          <a href="" target="_blank">
            <i class="icon ion-logo-instagram"></i>
          </a>
        </li>
      </ul>
    </footer>
  </div>
  <script>
    window.addEventListener("load", () => {
    document.querySelector("body").classList.add("loaded"); 
});
  </script>
</body>
</html>