<%- include ('partials/header.ejs') %>

<main class="page-main">
    <div class="jumbotron">
        <h1 class="display-4">New Patient Information</h1>
            <p class="lead">Thank you for your interest in joining McMinn Clinic! We are no longer accepting new patients. Please do not call to make special requests, as we are not making exceptions at this time.</p>
            <hr class="my-4" id="newpt">
            <p>If you want to explore some other resources to find the right path for you, check out these links:</p>
            <p>The first is a provider search for practitioners that are certified by the Institute for Functional Medicine: <a id="providerdir" href="https://www.ifm.org/find-a-practitioner/" target="_blank">Find a Provider</a></p>
            <p>The second is our Functional Medicine Podcast, where Dr. McMinn shares his opinions and advice on lots of hot health topics: <a href="https://functionalmedicinepodcast.com/" target="_blank">Functional Medicine Podcast</a></p>
    </div>
</main>



<%- include ('partials/footer') %>