<%- include ('partials/header.ejs') %>

<main>
    <div class="jumbotron">
        <h1 class="display-4">New Patient Information</h1>
            <p class="lead">McMinn Clinic is currently not accepting new patients. We will update the site when the decision is made to open the schedule once more.</p>
            <hr class="my-4" id="newpt">
            <p>We are so sorry that we can not accept you into our care at this time. We do have a few resources available that may help guide you in the right direction:</p>
            <p>The first is a provider search for practitioners that are certified by the Institute for Functional Medicine: <a id="providerdir" href="https://www.ifm.org/find-a-practitioner/">Find a Provider</a></p>
            <p>The second is our Functional Medicine Podcast, where Dr. McMinn shares his opinions and advice on lots of hot health topics: <a href="https://functionalmedicinepodcast.com/">Functional Medicine Podcast</a></p>
    </div>
</main>



<%- include ('partials/footer') %>