<%- include ('partials/header.ejs') %>

<main class="page-main">

    <div class="container">
        <div class="head">
            <h1 class="display-4">Services Offered</h1>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-sm">
                <div class="jumbotron">
                    <p>Integrative Medicine</p>
                    <p>Functional Medicine</p>
                    <p>Anti aging support</p>
                    <p>Hormone optimization</p>
                    <p>Hormone Pellets</p>
                    <p>Gut Health- colitis, Crohn’s, IBS, SIBO, diarrhea, bloating, etc. </p>
                    <p>Treatment of yeast overgrowth</p>
                    <p>Treatment of fatigue and fibromyalgia</p>
                    <p>Thyroid Optimization</p>
                    <p>Detoxification: Heavy Metals, Mold, Organics</p>
                    <p>McMinn proprietary sinusitis protocol.</p> 
                </div>
            </div>
            <div class="col-sm">
                <div class="jumbotron">
                    <p>Health Optimization</p>
                    <p>Advanced Prevention</p>
                    <p>Sexual Health (low desire, difficult orgasm, pain with intercourse).</p>
                    <p>Osteoporosis management</p>
                    <p>Advanced Lab Testing</p>
                    <p>Weight management</p>
                    <p>Advanced Nutrition</p>
                    <p>Cardio wellness program.</p>
                    <p>Brain Health Support</p>
                </div>
            </div>
        </div>
    </div>
      
</main>

  


<%- include ('partials/footer') %>